.contact-button{
    display: flex;
    background-color:#2639ED ;
    border-radius: 60px;
    width: 215px;
    height: 60px;
    align-items: center;
    justify-content: center;
    h4{
        color: white;
        letter-spacing: 0.065em;
        font-size: 20px;
        font-weight: 400;
    }
}