*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 42px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;

  &__menu {
    display: flex;
    column-gap: 60px;
    &__nav-link {
      font-size: 16px;
    }
  }
}
